@import url(Styles/header.css);


:root{
    --fonte-secundaria:"Poppins";
    --fonte-principal: "Open Sans";
    --branco: #FFFFFF;
    --marrom: #4F1C00;
    --amarelo: #F7FF00;
    --preto: #000000;
    --verde: #00CD18;
    --cor-de-fundo: linear-gradient( #00CD18, #096B00, #00028F);
}

body{
    background-color: var(--verde);
}